.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  
.heading {
color: rebeccapurple;
}
.nav-links {
display: flex;
list-style: none;
padding-left: 0;
}
.nav-link-item {
padding-right: 2rem;
}
.nav-link-text {
color: black;
}

/* ... your existing styles */

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
}

/* Todo List Css */

.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-container-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item-action-delete {
  cursor: pointer;
  color: red;
}

.todo-item-action-update {
  margin-right: 8px;
  cursor: pointer;
  color: rgb(172, 172, 48);
}
.todo-item-action-updating {
  color: green;
}